@charset "utf-8";

.e1gh6g800 {
  width: 0px !important;
  height: 0px !important;
  box-shadow: rgb(255, 255, 255) 0px 0px 8px 2px !important;
}
  
.e1gh6g801 {
  width: 0px !important;
  height: 0px !important;
  box-shadow: rgb(255, 255, 255) 0px 0px 8px 4px !important;
}