@charset "utf-8";

#apb-posts-backButton {
  position: fixed !important;
  z-index: 999;
  left: 16px;
  bottom: 16px;
  padding: 8px 14px calc(8px + constant(safe-area-inset-bottom) + env(safe-area-inset-bottom)) 12px;
  border-radius: 16px;
  font-size: 17px;
  color: var(--coolGray40);
  background-color: var(--coolGray70);
}