@charset "utf-8";

#apb-posts-backButton {
  position: fixed !important;
  z-index: 999;
  left: 16px;
  bottom: max(16px, env(safe-area-inset-bottom), constant(safe-area-inset-bottom));
  padding: 8px 14px 8px 12px;
  border-radius: 16px;
  font-size: 17px;
  color: var(--coolGray40);
  background-color: var(--coolGray70);
}