@charset "utf-8";

.page-icon {
  display: none !important;
}

@media screen and (min-width: 901px) {
  .notion-scroller > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
    margin-top: 56px !important;
  }
}

@media screen and (max-width: 900px) {
  .notion-scroller > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
    margin-top: 56px !important;
  }
}

@media screen and (max-width: 640px) {
  .notion-scroller > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
    margin: 0px !important;
  }
}

#apb-posts-backButton {
  position: fixed !important;
  z-index: 999;
  left: 16px;
  bottom: max(16px, constant(safe-area-inset-bottom));
  bottom: max(16px, env(safe-area-inset-bottom));
  padding: 8px 14px 8px 12px;
  border-radius: 16px;
  font-size: 17px;
  color: var(--coolGray40);
  background-color: var(--coolGray70);
}