@charset "utf-8";

:root {    
  /* CONSTANTS */
  --hh-dsk: 56px;
  --hh-tbl: 56px;
  --hh-mbl: 56px;

  --hw-dsk: 1024px;
  --hw-tbl: 900px;
  --hw-mbl: 640px;

  --ft-dsk: 32px;
  --ft-tbl: 24px;
  --ft-mbl: 16px;

  --fb-dsk: 40px;
  --fb-tbl: 40px;
  --fb-mbl: 80px;

  --gm-dsk: 96px;
  --gm-tbl: 48px;
  --gm-mbl: 16px;
}