<div id="hd-container">
  <!-- LEFT ITEM -->
  <a id="hd-left" href="https://whatssub.co/">
    <h1 id="hd-left-title">
      왓섭
    </h1>
  </a>

  <!-- RIGHT ITEM -->
  <div id="hd-right">
    <!-- DESKTOP -->
    <nav id="hd-right-tablet">
      <li class="hd-nav-item"><a href="https://abr.ge/jqluil">앱 설치하기</a></li>
      <li class="hd-nav-item"><a href="https://recruit.whatssub.co/">채용</a></li>
      <li class="hd-nav-item"><a href="https://cert.whatssub.co/">공용인증센터</a></li>
    </nav>
    
    <!-- MOBILE -->
    <i id="hd-right-mobile"></i>
  </div>
</div>
<div id="wds-mobile-nav">
  <nav id="hd-nav-menu">
    <ul>
      <li class="hd-nav-item"><a href="https://abr.ge/jqluil">앱 설치하기</a></li>
      <li class="hd-nav-item"><a href="https://recruit.whatssub.co/">채용</a></li>
      <li class="hd-nav-item"><a href="https://cert.whatssub.co/">공용인증센터</a></li>
    </ul>
  </nav>
</div>